@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink { 50% { opacity: 0; } }
.animate-blink { animation: blink 1s steps(1) infinite; }

html { scroll-behavior: smooth; }
body { @apply bg-base text-gray-200 font-mono; }

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientShift 18s ease infinite;
}
